.link-item>a:hover {
    background-color: rgb(230, 139, 217);
    border-radius: 15px;
    color: #ffffff;
}

.py-2 {
    color: #35bbdd;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.main-div {
    background: #ffffff;
    background-color: rgb(230, 139, 217);
    opacity: 0.8;
    display: block;
}

.text-muted>a {
    color: black;
}